<template>
  <div id="analysis-list" class="vertical-menu-wrapper">
    <router-link to="/dashboard/products/ScopeVision">
      <div class="header text-center">
        SCOPEVISION
      </div>
    </router-link>
    <div v-if="graphs" class="analyses text-center">
      <div class="analysis" :data-slug="analysis.slug" v-for="analysis of analyses"><router-link :to="analysis.url">{{ analysis.label }}</router-link></div>
    </div>
  </div>
</template>
<style lang="scss">
#ScopeVision {
  #analysis-list {
    z-index: 1;

    .analyses {
      padding: 1rem;
      .analysis {
        padding: 1rem;
        a {
          display: block;
          border: 2px solid #0fb2a2;
          padding: 0.75rem 0.25rem;
          border-radius: 4px;
          color: #0fb2a2;
          font-size: 20px;

          &:hover, &.router-link-active {
            color: #fff;
            background: #0fb2a2;
            box-shadow: 0 2px 4px #bbb;
          }
        }
      }
    }
  }
}
</style>
<script>
  import TrendingUtils from '@/components/dashboard/scopeVision/TrendingUtils.js'

  export default {
    data () {
      return {
        graphs: null
      }
    },
    props: ['trendingId'],
    computed: {
      analyses() {
        if (!this.graphs) {
          return null
        }

        return TrendingUtils.getAnalysisList(this.trendingId, this.graphs)
      }
    },
    created () {
      this.$store.dispatch('ScopeVision/getTrendingGraphs', {
        trendingId: this.trendingId,
        callback: (graphs) => {
          this.graphs = graphs
        }
      })
    }
  }
</script>
