<template>
  <div class="colors-container" @click="animateColorChart" v-show="colors">
    <div class="colors-chart">
      <canvas></canvas>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .colors-container {
    position: absolute;
    right: 0;
    top: 0;
    height: 7rem;
    width: 7rem;
    padding: 1rem;
    user-select: none;
    cursor: pointer;

    .colors-chart {
      position: relative;
      height: 100%;
      width: 100%;
    }
  }
</style>

<script>
  // NPM Chart.js includes a locale library, which takes 250+kb. Since we don't need it, use the build from Chart.js to reduce project size
  // import Chart from 'chart.js';
  // eslint-disable-next-line
  import '@/libs/chartjs/Chart.min.js'
  export default {
    data () {
      return {
        colorsFullscreen: false
      }
    },
    props: ['colors'],
    watch: {
      colors () {
        this.colorsFullscreen = false
        if (this._chart) {
          // eslint-disable-next-line
          $(this._chart.canvas.parentNode.parentNode).stop().animate({height: '7rem', width: '7rem', padding: '1rem'}, 400)
        }
        if (this.colors) {
          this.$nextTick(() => {
            var ctx = this.$el.querySelector('.colors-chart canvas')

            var data = {
              labels: this.colors.colors,
              datasets: [
                {
                  data: this.colors.data,
                  backgroundColor: this.colors.colors,
                  hoverBackgroundColor: this.colors.colors
                }
              ]
            }

            if (!this._chart) {
              // eslint-disable-next-line
              this._chart = new Chart(ctx, {
                type: 'pie',
                data: data,
                options: {
                  maintainAspectRatio: false,
                  legend: {
                    display: false
                  },
                  tooltips: {
                    enabled: false
                  }
                }
              })
            } else {
              this._chart.data.datasets[0].data = this.colors.data
              this._chart.data.datasets[0].backgroundColor = this.colors.colors
              this._chart.data.datasets[0].hoverBackgroundColor = this.colors.colors
              this._chart.data.labels = this.colors.colors
              this._chart.update()
            }
          })
        } else if (this._chart) {
          this.$nextTick(() => {
            this._chart.destroy()
            this._chart = null
          })
        }
      },
      colorsFullscreen () {
        if (this._chart) {
          this._chart.options.tooltips.enabled = this.colorsFullscreen
        }
      }
    },
    methods: {
      animateColorChart () {
        this.colorsFullscreen = !this.colorsFullscreen
        if (this.colorsFullscreen) {
          // eslint-disable-next-line
          $(this._chart.canvas.parentNode.parentNode).stop().animate({height: '100%', width: '100%', padding: '10%'}, 400)
        } else {
          // eslint-disable-next-line
          $(this._chart.canvas.parentNode.parentNode).stop().animate({height: '7rem', width: '7rem', padding: '1rem'}, 400)
        }
      }
    }
  }
</script>
