<template>
  <div id="wheader" class="clear" :class="{'scroll-shadow': headerHeight < 100}">
    <div class="wheader-wrapper max-width-container">
      <div class="wheader-container" :style="{height: headerHeight + 'px'}">

        <div class="wheader-button-mobile show-tablet">
          <div class="mobile-button">
            <span @click="showMobileMenu = !showMobileMenu">
              <i class="content icon"></i>
            </span>
          </div>
        </div>

        <div class="wheader-left">
          <router-link to="/" class="wheader-logo">
            <img src="~@/assets/scope_media_developers-2.png"/>
          </router-link>
        </div><!--

     --><div class="wheader-menu hide-tablet">
          <ul class="wheader-navbar">

            <li class="outer-list" v-for="link of navLinks">
              <a class="outer-a" :href="link.url" :class="{'has-submenu': link.subMenu}"><span>{{ link.text }}</span><i v-if="link.subMenu" class="angle down icon"></i></a>
              <div class="wheader-dropdown" v-if="link.subMenu">
                <div class="inner">
                  <ul>
                    <li v-for="subLink of link.subMenu"><a :href="subLink.url">{{ subLink.text }}</a></li>
                  </ul>
                </div>
              </div>
            </li>

          </ul>
        </div><!--

     --><div class="wheader-right">
          <div class="button-wrapper">
            <!-- If access token is not available, no user has logged in. Display signup/login buttons -->
            <div class="button-wrapper-widget" v-if="!$store.getters.hasAccessToken">
              <div class="hide-mobile">
                <router-link :to="{name: 'login'}">
                  <button class="white-button">
                    <a>Log In</a>
                  </button>
                </router-link>
                <div class="white-space"></div>
                <router-link :to="{name: 'signup'}">
                  <button class="green-button">
                    <a>Sign Up</a>
                  </button>
                </router-link>
              </div>
              <div class="user-dropdown show-mobile" @click="togDropContent($event)">
                <i class="user icon show-mobile inline"></i><i class="angle down icon"></i>
                <div class="user-dropdown-content">
                  <div class="inner">
                    <ul>
                      <li>
                        <router-link to="/login">
                          Log In
                        </router-link>
                      </li>
                      <li>
                        <router-link to="/signup">
                          Sign Up
                        </router-link>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- if has access token, but no user profile, wait for the user profile (load from router.js) -->
            <div class="loader-wrapper-widget" v-else-if="!$store.getters.hasUserInfo">
              <div class="ui active loader"></div>
            </div>

            <!-- has user profile, show dashboard menu -->
            <div class="button-wrapper-widget" v-else>
              <div class="user-dropdown" @click="togDropContent($event)">
                <i class="user icon show-mobile inline"></i><p class="user-email hide-mobile">{{ $store.state.userInfo.email }}</p><i class="angle down icon"></i>
                <div class="user-dropdown-content">
                  <div class="inner">
                    <ul>
                      <li>
                        <router-link to="/dashboard/products/ScopeCheck">
                          Dashboard
                        </router-link>
                        <!-- temporary hardcoded mobile solution for dashboard. will make it better after we have more clear path for dashboard -->
                        <ul class="show-mobile">
                          <li>
                            <router-link :to="{path: '/dashboard/products/ScopeCheck/credentials'}" class="item">
                              Credentials
                            </router-link>
                          </li>
                          <li>
                            <router-link :to="{path: '/dashboard/products/ScopeCheck/usage'}" class="item">
                              Usage
                            </router-link>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <router-link :to="{name: 'userProfile'}">
                          Profile
                        </router-link>
                      </li>

                      <li><a @click="logout()">Logout</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wheader-menu-mobile show-tablet" :class="{active: showMobileMenu}">
        <ul class="wheader-navbar-mobile">
          <li class="mobil-menu-item" v-for="link of navLinks" @click="link.subMenu ? link.subMenuActive = !link.subMenuActive : null" :class="{'has-submenu': link.subMenu, 'submenu-active': link.subMenuActive}">
            <a :href="link.url">{{ link.text }}</a>
            <i v-if="link.subMenu" class="angle icon" :class="[link.subMenuActive ? 'down' : 'right']"></i>
            <ul class="mobile-sub-menu" v-if="link.subMenu" :class="{active: link.subMenuActive}">
              <li class="mobile-sub-menu-item" v-for="subLink of link.subMenu">
                <a :href="subLink.url">{{ subLink.text }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
  @import '~@/components/general.scss';

  #wheader {
    position: fixed;
    z-index: 1100;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;

    &.scroll-shadow {box-shadow: 0 1px 3px rgba(0,0,0,.11);}

    .wheader-container {
      position: relative;

      /* in order to make all other inline-block center-aligned. we need one with 100% height becuase inline-block only center-align to each other */
      &::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }

      .wheader-button-mobile {
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;

        .mobile-button{
          height: 100%;
          display: table;
          span{
            transition: opacity .3s ease;
            color: #9d9d9d;
            font-size: 20px;
            display: table-cell;
            position: relative;
            cursor: pointer;
            vertical-align: middle;

            &:hover i{
              opacity: 0.8;
            }
          }
        }
      }

      .wheader-left {
        width: 225px;
        display: inline-block;
        vertical-align: middle;

        a {
          display: block;
          height: 55px;
          visibility: visible;
        }

        img {
          height: 100%;
          width: auto;
        }
      }


      .wheader-menu {
        display: inline-block;
        height: 100%;

        .wheader-navbar {
          list-style: none;
          margin: 0;
          padding: 0;
          height: 100%;

          .outer-list {
            display: inline-block;
            height: 100%;
            position: relative;

            .outer-a {
              display: block;
              font-size: 18px;
              font-weight: 100;
              padding: 0 17px;
              position: relative;
              letter-spacing: 1px;
              height: 100%;
              color: #9d9d9d;
              cursor: pointer;
              transition: opacity .3s ease-in-out,color .3s ease-in-out;

              &::before {
                content: '';
                display: inline-block;
                height: 100%;
                vertical-align: middle;
              }

              i {color: $green-color; margin-left: 6px;}
            }
            &:hover .outer-a span, .outer-a.active span {
              color: #3A3A3A;
              box-shadow: 0px 15px 0px -10px #0FB2A2;
            }

            .wheader-dropdown {
              width: 229px;
              height: 0px;
              left: 0;
              margin: 0;
              top: 100%;
              position: absolute;
              display: block;
              overflow: hidden;
              opacity: 1;
              z-index: 10;
              transition: all .3s ease-in-out;
              .inner {
                position: relative;
                padding: 0;
                display: block;
                z-index: 997;

                ul {
                  background-color: #ffffff;
                  border: 2px solid #efefef;
                  box-sizing: content-box;
                  padding: 7px 0;
                  display: inline-block;
                  position: relative;
                  opacity: 0;
                  transition: opacity 0.3s 0.1s;
                  li {
                    height: 28px;
                    display: block;
                    min-width: 180px;
                    width: auto;
                    white-space: nowrap;
                    width: 100%;

                    a {
                      vertical-align: -webkit-baseline-middle;
                      padding-left: 20px;
                      padding-right: 20px;
                      color: #9d9d9d;
                      font-weight: 100;
                      text-transform: none;
                      font-size: 18px;
                      cursor: pointer;
                      transition: opacity .3s ease-in-out,color .3s ease-in-out;
                    }
                    a:hover {
                      color: #3A3A3A;
                    }
                  }
                }
              }
            }

            &:hover .wheader-dropdown {
              height: 100px;
              overflow: visible;
              ul {
                opacity: 1;
              }
            }
          }


        }
      }

      .wheader-right {
        position: absolute;
        top: 0;
        right: 0;
        display: table;
        height: 100%;

        .button-wrapper {
          display: table-cell;
          vertical-align: middle;
          position: relative;

          .loader-wrapper-widget .ui.loader {
            transform: translate(-100%, -50%);
          }
        }

        .white-space {
          display: inline-block;
          width: 10px;
        }

        .user-dropdown {
          position: relative;
          .user-email{
            display: inline;
            cursor: pointer;
            color: $green-color;
            font-size: 18px;
            line-height: 20px;
            position: relative;

          }


          i {
            color: $green-color;
          }

          .user-dropdown-content{

            /*display: none;*/
            visibility: hidden;
            position: absolute;
            right: 0;
            background-color: #ffffff;
            min-width: 140px;
            z-index: 1;
            box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);

            .inner{
              ul{
                list-style: none;
                -webkit-margin-before: 0em;
                -webkit-margin-after: 0em;
                -webkit-padding-start: 20px;
                li{
                  padding: 3px 0;
                  margin:5px 0;
                  a{
                    font-size: 15px;
                    color: #818181;
                    cursor: pointer;
                    transition: opacity .3s ease-in-out,color .3s ease-in-out;

                    &:hover{
                      color: #3A3A3A;
                    }
                  }
                }
              }
            }

          }

          &:hover .user-dropdown-content
          {
            /*display: block;*/
            visibility: visible;
          }
        }
      }
    }

    .wheader-menu-mobile {
      &.active {
        max-height: 500px;
      }
      transition: all 0.3s;
      max-height: 0;
      overflow: hidden;

      ul {
        display: block;
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;

        & > li{
          margin: 0;
          padding: 0;
          position: relative;

          &.has-submenu i {
            line-height: 26px;
            height: auto;
            font-size: 16px;
            padding: 10px 0;
            position: absolute;
            color: #888;
            top: 0;
            right: 0;
            margin-right: 0;
            cursor: pointer;
          }

          a {
            font-size: 13px;
            border-bottom: 1px solid #eaeaea;
            font-weight: 400;
            color: #888;
            padding: 10px 0;
            display: block;
            position: relative;
            text-transform: none;
            line-height: 26px;
            letter-spacing: 0;
            cursor: pointer;

            &:hover {color: $green-color;}
          }

          ul {
            max-height: 0;
            overflow: hidden;
            transition: all 0.3s;

            &.active {
              max-height: 300px;
            }
            li {
              margin: 0 0 0 20px;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: $tablet-break-point) {
    #wheader {
      position: relative;

      .wheader-container {
        /* in order to make all other inline-block center-aligned. we need one with 100% height becuase inline-block only center-align to each other */
        &::before {
          display: none;
        }

        .wheader-left {
          height: 100%;
          width: 100%;
          display: block;
          text-align: center;
          a {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    .fade-enter-active, .fade-leave-active {
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
      opacity: 0
    }
  }
</style>
<script>
  export default{
    data () {
      return {
        navLinks: [
          {
            text: 'Docs',
            url: 'https://developer.scopemedia.com/documentation/'
          },
          {
            text: 'Pricing',
            url: 'https://scopemedia.com/solutions/'
          },
          {
            text: 'Support',
            url: 'https://scopemedia.com/company/contact'
          },
          {
            text: 'Demo',
            subMenuActive: false,
            subMenu: [
              {
                text: 'Image Search',
                url: '/#/demo/image-search'
              }
            ]
          }
        ],
        showMobileMenu: false,
        windowScrollY: 0,
        headerHeight: 100
      }
    },
    mounted () {
      this.$nextTick(() => {
        window.addEventListener('scroll',  this.getScrollY)
        this.getScrollY()
      })
    },
    methods: {
      logout () {
        this.$store.dispatch('logout')
        toastr.success("Logout successfully")
      },
      getScrollY (event) {
        this.windowScrollY = window.scrollY
      },
      togDropContent (evnet) {
        //this method is used for IOS devices
        //IOS devices can not detect hover event well.
        let ios = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream
        if (window.innerWidth > 1000 || !ios) return;
        else {
          let e = document.querySelector('.user-dropdown-content')
          if (e.style.visibility === 'visible') {
            e.style.visibility = 'hidden'
          } else {
            e.style.visibility = 'visible'
          }
        }
      }
    },
    watch: {
      windowScrollY (val, preVal) {
        if (val >= 0 && val <= 43) {
          this.headerHeight = 100 - val
        } else {
          this.headerHeight = 57
        }
      },
      $route () {
        this.showMobileMenu = false
      }
    }
  }
</script>
